mixin _helps(num)
  if num == 1
    .helps
      h5 网银支付充值说明：
      p 注：交通银行和光大银行信用卡暂不能使用支付宝网银充值，若需要充值，请
        a(href="#", target="_blank").link 点击这里
      p 1、您必须开通了网上银行业务；
      p 2、请您关闭所有屏蔽弹出窗口之类的功能，否则在线支付将无法继续，比如：3721、上网助手、google toolbar、alexa toolbar、baidu等；
      p 3、如果您用信用卡支付，请确认该信用卡的网上交易限额大于等于您的充值金额；
      p 4、请充值时务必确认好您的充值金额准确无误后再进行充值，避免输错金额导致的失误，
        span.warn 如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。
  else if num == 2
    .helps
      h5 网银支付充值说明：
      p 注：交通银行和光大银行信用卡暂不能使用支付宝网银充值，若需要充值，请
        a(href="#", target="_blank").link 点击这里
      p 1、您必须开通了网上银行业务；
      p 2、请您关闭所有屏蔽弹出窗口之类的功能，否则在线支付将无法继续，比如：3721、上网助手、google toolbar、alexa toolbar、baidu等；
      p 3、如果您用信用卡支付，请确认该信用卡的网上交易限额大于等于您的充值金额；
      p 4、请充值时务必确认好您的充值金额准确无误后再进行充值，避免输错金额导致的失误，
        span.warn 如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。
  else if num == 3
    .helps
      h5 骏网一卡通充值说明：
      p
        span.warn 请务必确保您选择的充值面额与您购买的充值卡实际面额一致。
  else if num == 4
    .helps
      h5 支付宝快充充值说明：
      p 1、支付宝快充是一种无需开通网银，可直接利用支付宝账户余额、信用卡、借记卡，通过回复手机短信快速完成支付的快捷方式。
      p 2、首次支付需先填写相关信息与支付宝签约，流程如下：支付宝签约-开通成功-直接支付。
      p 3、第二次支付只需输入手机验证码即可快速付款，流程如下：选择支付宝快充银行-输入手机验证码-直接支付。
  else if num == 5
    .helps
      h5 财付通充值说明：
      p 注：交通银行和光大银行信用卡暂不能使用支付宝网银充值，若需要充值，请
        a(href="#", target="_blank").link 点击这里
      p 1、您必须开通了网上银行业务；
      p 2、请您关闭所有屏蔽弹出窗口之类的功能，否则在线支付将无法继续，比如：3721、上网助手、google toolbar、alexa toolbar、baidu等；
      p 3、如果您用信用卡支付，请确认该信用卡的网上交易限额大于等于您的充值金额；
      p 4、请充值时务必确认好您的充值金额准确无误后再进行充值，避免输错金额导致的失误，
        span.warn 如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。
  else if num == 6
    .helps
      h5 手机卡支付充值说明：
      p
        span.warn 如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。
  else if num == 7
    .helps
      h5 微信支付充值说明：
      p 注：交通银行和光大银行信用卡暂不能使用支付宝网银充值，若需要充值，请
        a(href="#", target="_blank").link 点击这里
      p 1、您必须开通了网上银行业务；
      p 2、请您关闭所有屏蔽弹出窗口之类的功能，否则在线支付将无法继续，比如：3721、上网助手、google toolbar、alexa toolbar、baidu等；
      p 3、如果您用信用卡支付，请确认该信用卡的网上交易限额大于等于您的充值金额；
      p 4、请充值时务必确认好您的充值金额准确无误后再进行充值，避免输错金额导致的失误，
        span.warn 如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。
  else if num == 8
    .helps
      h5 固话/手机/宽带充值说明：
      p
        span.warn 如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。
  else if num == 9
    .helps
      h5 顺圆一卡通充值说明：
      p
        span.warn 如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。
