.paginator
  span.total
    |共
    b.org 5
    | 条
  span(class="page")
    | 首页
  span(class="page")
    | 上一页
  a(href="###",class="page")
    | 下一页
  a(href="###",class="page")
    | 尾页
  span.current
    b.org 1
    |/1
  span.to
    | 到第
    input(type="text",class="mr5")
    | 页
    a(href="###",class="btn-gray-xs")
      span 确定

