.search.clearfix
  span.fl.mr10 查询时间
  input(type="text",class="txt-lg my-datepicker mr5",value="2012-02-14")
  span.fl.mr5 -
  input(type="text",class="txt-lg my-datepicker mr10",value="2012-02-14")
  a(href="#",class="btn-gray-s mr10")
    span 查询
  span.quick
    a(href="###", class="curr mr10") 最近一周
    a(href="###" ) 最近一个月